include ../common/socials
include ../common/triangle
//include ../common/skills

mixin icon(iconName, iconClasses)
  svg(class=`${iconClasses}`)
    use(xlink:href=`/assets/images/icons/sprite.svg#${iconName}`)

mixin image(imagePath, imageAlt, imageClass)
  img(src=`/assets/images/${imagePath}`, alt=`${imageAlt}`, class=`${imageClass}`)
